.text-highlight {
  font-weight: 700;
  background: linear-gradient(to top, rgb(220,234,208) 50%, transparent 50%);
}

.grow-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.metric-photo {
  border-radius: 5%;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
}

.graph-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.graph-value,
.graph-value__vertical {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 80px;
  font-weight: 400;
  color: #006836;
}

.graph-value {
  text-align: center;
}

.radial-graph {
  height: 200px;
  width: 200px;
}

.calculations-explained,
.calculations-explained__vertical {
  font-size: 16px;
  font-weight: 600;
  color: #5dbe83;
  text-transform: uppercase;
  margin-bottom: 0;
}

.calculations-explained__sub,
.calculations-explained__sub__vertical {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: normal;
  margin: 0 auto;
}

.calculations-explained {
  text-align: right;
}

.calculations-explained__vertical {
  text-align: left;
}

.metric-photo__vertical {
  border-radius: 2em;
}

.graph-value__vertical {
  text-align: left;
}

.graph-container__vertical {
  display: flex;
  flex-direction: column;
}

.radial-graph__vertical {
  height: 300px;
  width: 300px;
}

.calculations-explained__sub {
  text-align: right;
}

.calculations-explained__sub__vertical {
  text-align: left;
}
.engage-heading {
  color: rgb(0, 171, 114);
  font-size: 30px;
}

.animated-map-container {
  display: flex;
}

.map-key {
  height: 600px;
}

/* SVG Grading Scale Styles */

.timeline-container {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

.year,
.grade {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 7px;
  font-weight: 470;
}

.year {
  font-weight: 300;
}
.current__grade,
.current__year {
  fill: rgb(99, 168, 118);
}
.current__grade {
  font-weight: bold;
}
