.metric-photo {
  border-radius: 5%;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
}

.graph-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.graph-value {
  font-family: Lato, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 80px;
  font-weight: 400;
  color: #006836;
}

.radial-graph {
  height: 200px;
  width: 200px;
}

.calculations-explained {
  text-align: right;
  font-size: 16px;
  font-weight: 600;
  color: #5dbe83;
  text-transform: uppercase;
  margin-bottom: 0;
}

.calculations-explained__sub {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: normal;
  text-align: right;
  margin: 0 auto;
}
.engage-heading {
  color: rgb(0, 171, 114);
  font-size: 30px;
}

.animated-map-container {
  display: flex;
}

.map-key {
  height: 600px;
}

.year,
.grade {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 8px;
}

.year {
  font-weight: 300;
}
.current__grade,
.current__year {
  fill: rgb(99, 168, 118);
}
.current__grade {
  font-weight: bold;
}
